{% extends 'layout.twig' %}

{% block body %}
    <div class="row">
        <div class="col-xs-12">
            <form action="" method="post" class="form-inline">
                <div class="form-group">
                    <label for="from">Date from</label>
                    <input type="date" class="form-control" id="from" name="from" placeholder="Date from (YYYY-mm-dd)"
                           value="{{ from.format('Y-m-d') }}">
                </div>

                <div class="form-group">
                    <label for="to">Date to</label>
                    <input type="date" class="form-control" id="to" name="to" placeholder="Date to (YYYY-mm-dd)"
                           value="{{ to.format('Y-m-d') }}">
                </div>

                <div class="form-group">
                    <input type="submit" class="btn btn-primary" value="Show">
                </div>
            </form>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <b>Total cards:</b> {{ cards|length }}
        </div>
    </div>

    <table class="table table-hover">
        <thead>
        <tr>
            <th>Card name</th>
            <th>Dev</th>
            <th>Column</th>
            <th>Date</th>
        </tr>
        </thead>
        <tbody>
        {% for c in cards %}
            <tr>
                <td>{{ c.name }}</td>
                <td>
                    {% for m in c.dev %}
                        {{ app.members.getName(m) }},
                    {% endfor %}
                </td>
                <td>{{ app.list.getName(c.list) }}</td>
                <td>
                    {% if c.lastChangeDate is not empty %}
                        {{ c.lastChangeDate.format('Y-m-d H:i:s') }}
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
